@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

#root {
  background: lightgray;
  width: 100vw;
  height: 100vh;
  padding-top: 50px !important;
  @media (max-width: 768px) {
    background-color: white !important;
  }
}
.card-login {
  background-color: white;
  width: 620px;
  height: 600px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 50px;
  font-family: "Poppins", sans-serif;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 30px;
  }
}
.login {
  .title {
    text-align: center;
  }

  .form {
    display: flex;
    flex-flow: row wrap;
    row-gap: 40px;
    @media (max-width: 768px) {
      margin-top: 50px;
      row-gap: 20px;
    }
    .name-container {
      width: 100%;
      .nameInput {
        width: 100%;
      }
    }
  }
  footer {
    margin-top: 150px;
    justify-content: space-between;
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    @media (max-height: 845px) {
      margin-top: 50px;
    }

    .register-button {
      width: 80px;
      height: 40px;
      @media (max-width: 768px) {
        width: 90%;
        height: 50px;
      }
    }
  }
}

.birthday-container {
  input {
    padding: 3px 5px 3px 10px;
  }
}

.email-container,
.pw-container {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.phone-container,
.birthday-container {
  width: 45%;
  padding-left: 30px;
  @media (max-width: 768px) {
    order: 1;
    width: 45%;
    padding-left: 0;
  }
  @media (max-width: 300px) {
    width: 100%;
  }
}

.valid {
  border: 1px solid green !important;
}

.notvalid {
  border: 1px solid red !important;
}

@media (max-width: 768px) {
  .birthday-container {
    padding-left: 30px;
    input {
      padding: 3px 5px 5px 10px;
    }
    @media (max-width: 300px) {
      padding-left: 0px;
    }
  }
  .phone-container {
    padding-right: 10px;
    @media (max-width: 300px) {
      padding-right: 0px;
    }
  }
}

.enabled {
  cursor: pointer !important;
  background-color: rgba(13, 189, 189, 1) !important;
}
